/* 
    ? CSS - Cascading Style Sheets
    * language that defines positioning, style, and look of HTML elements

    ? Ruleset

    Selector {
        declaration
        property: value;
        key: value
    }

*/

/* Wildcard - meaning everything */
* {
	font-family: Arial, Helvetica, sans-serif;
	border: 0;
	padding: 0;
	margin: 0;

	/* border: 1px solid black;
	margin: 3px; */
}

body {
	background-color: #eeeeee;
}

header {
	background-color: rgb(243, 122, 78);
	padding: 1em;
}

img {
	width: 250px;
	height: 250px;
	object-fit: cover;
}

/* Class selector (.) */
.nav-links {
	text-decoration: none;
	color: black;
}

nav {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* 
    ? Pseudo Selectors
    * allow us to make style changes to different behaviors
*/

.nav-links:hover {
	color: rgb(243, 122, 78);
}

/* ID Selector (#) */

#pic-container {
	border: 1px solid black;
}

/* Compound Selector */
body ul > li:nth-last-child(1) {
	color: red;
}
/* 
    ? Box Model
    * every element has:
        * margin (outside)
        * border (it, the item, element)
        * padding (inside)
*/

/* 
	? Order of Specificity
	1. !important
	2. in-line style
	3. id selector
	4. class
	5. element
*/

footer p {
	background-color: red !important;
}

.p-tag {
	background-color: yellow;
}

#p-tag {
	background-color: lightskyblue;
}
